<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserAdministrationV200702Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vaf-adm-agrwebt.adm.vaf.no/AgressoWSHost/service.svc"
                binding="basicHttpBinding" bindingConfiguration="UserAdministrationV200702Soap"
                contract="AgressoUserAdministrationServiceReference.UserAdministrationV200702Soap"
                name="UserAdministrationV200702Soap" />
        </client>
    </system.serviceModel>
</configuration>