<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="AgressoUserAdministrationClient" value=""/>  
    <add key="AgressoUserAdministrationUsername" value=""/>  
    <add key="AgressoUserAdministrationPassword" value=""/>
    
    <add key="AnsattKomponentHostName" value=""/>
    <add key="AnsattKomponentPort" value=""/>
    <add key="AnsattKomponentUserName" value=""/>
    <add key="AnsattKomponentPassword" value=""/>
    <add key="AnsattKomponentQueue" value="fint:vaf.no:employee:in"/>
  </appSettings>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="UserAdministrationV200702Soap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="http://[servernavn]/AgressoWSHost/service.svc"
              binding="basicHttpBinding" bindingConfiguration="UserAdministrationV200702Soap"
              contract="AgressoUserAdministrationServiceReference.UserAdministrationV200702Soap"
              name="UserAdministrationV200702Soap" />
      </client>
  </system.serviceModel>
</configuration>